# Sprint 1 - Exploração dos dados com SQL

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/infocbra/pratica-integrada-cd-e-am-2021-1-g1-ghjp/master/1_sprint/ovinis_data.csv?token=AG2WN5MDYUBGC4JTXXQZAPDBBBCJW'
df = pd.read_csv(url,sep=',')

## Tratamento da coluna Unnamed

In [ ]:
df.head()

   Unnamed: 0  ...   postado
0           0  ...    3/2/04
1           1  ...  10/30/06
2           2  ...    7/5/99
3           3  ...   2/22/05
4           4  ...    8/5/01

[5 rows x 8 columns]

In [ ]:
df.drop(df.columns[0], axis=1, inplace=True)

In [ ]:
df.head()

            data  ...   postado
0  9/30/97 22:00  ...    3/2/04
1  9/30/97 20:00  ...  10/30/06
2  9/28/97 23:15  ...    7/5/99
3  9/27/97 23:00  ...   2/22/05
4  9/27/97 05:00  ...    8/5/01

[5 rows x 7 columns]

## 1 - Saber a quantidade de linhas, observações ou variáveis que foram coletadas.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100157 entries, 0 to 100156
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   data     100157 non-null  object
 1   cidade   99959 non-null   object
 2   estado   92931 non-null   object
 3   formato  98130 non-null   object
 4   duracao  97156 non-null   object
 5   resumo   100137 non-null  object
 6   postado  100157 non-null  object
dtypes: object(7)
memory usage: 5.3+ MB

In [ ]:
df.shape

(100157, 7)

### O dataframe possui 100.157 registros, 7 atributos ou colunas ou variáveis

## 2 - Quantos relatos ocorreram por estado em ordem decrescente?

In [ ]:
df[['estado']].groupby(['estado']).size().sort_values(ascending=False)

estado
CA    11440
FL     5605
WA     4919
TX     4171
NY     3888
      ...
PE       20
YT       20
PR       18
YK        5
VI        1
Length: 68, dtype: int64

## 3 - Remover possíveis campos vazios (sem estado)

In [ ]:
# selecao_null = (df.estado.isnull())
# df_sem_nulo = df~[selecao_null]
# df_sem_nulo

df_sem_nulo = df.dropna(subset=['estado']).reset_index(drop=True)
df_sem_nulo

                data  ...   postado
0      9/30/97 22:00  ...    3/2/04
1      9/30/97 20:00  ...  10/30/06
2      9/28/97 23:15  ...    7/5/99
3      9/27/97 23:00  ...   2/22/05
4      9/27/97 05:00  ...    8/5/01
...              ...  ...       ...
92926   8/1/17 02:45  ...    8/4/17
92927   8/1/17 02:00  ...    8/4/17
92928   8/1/17 01:00  ...    5/9/19
92929   8/1/17 00:00  ...   2/13/20
92930         8/1/17  ...   6/25/20

[92931 rows x 7 columns]

## 4 - Limitar a análise aos estados dos Estados Unidos.

In [ ]:
url2 = 'https://raw.githubusercontent.com/oliveirafhm/data_science/master/5_pipeline_dados/usa_states.csv'
states = pd.read_csv(url2,sep=',')
states

                   State Abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20               Montana           MT
21              Nebraska           NE
22                Nevada           NV
23         New Hampshire           NH
24            New Jersey           NJ
25            New Mexico           NM
26              New York           NY
27        North Carolina           NC
28          North Dakota           ND
29                  Ohio           OH
30              Oklahoma           OK
31                Oregon           OR
32              Maryland           MD
33         Massachusetts           MA
34              Michigan           MI
35             Minnesota           MN
36           Mississippi           MS
37              Missouri           MO
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY

In [ ]:
filtro = states['Abbreviation']
selecao = df['estado'].isin(filtro)
df_eua = df_sem_nulo[selecao].reset_index(drop=True)
df_eua

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

                data  ...  postado
0      9/30/97 22:00  ...   3/2/04
1      9/28/97 23:15  ...   7/5/99
2      9/27/97 23:00  ...  2/22/05
3      9/27/97 05:00  ...   8/5/01
4      9/25/97 22:00  ...  1/28/99
...              ...  ...      ...
81873   8/1/17 02:45  ...   8/4/17
81874   8/1/17 02:00  ...   8/4/17
81875   8/1/17 01:00  ...   5/9/19
81876   8/1/17 00:00  ...  2/13/20
81877         8/1/17  ...  6/25/20

[81878 rows x 7 columns]

## 5 - Consulta por cidades, com o objetivo de saber quais contêm o maior número de relatos (cidades que apresentem ao menos 10 relatos).

In [ ]:
selecao_cidades = df_eua['cidade'].value_counts(sort=True) >= 10

selecao_cidades_10 = selecao_cidades[selecao_cidades].index
df_eua_10_cases = df_eua[df_eua['cidade'].isin(selecao_cidades_10)].reset_index()
df_eua_10_cases

       index  ...  postado
0          0  ...   3/2/04
1          1  ...   7/5/99
2          4  ...  1/28/99
3          6  ...  4/15/00
4          7  ...  8/30/99
...      ...  ...      ...
52184  81871  ...  7/25/19
52185  81874  ...   8/4/17
52186  81875  ...   5/9/19
52187  81876  ...  2/13/20
52188  81877  ...  6/25/20

[52189 rows x 8 columns]

In [ ]:
df_eua_10_cases['cidade'].value_counts(sort=True)

Phoenix        486
Seattle        462
Portland       421
Las Vegas      408
San Diego      347
              ...
Moscow          10
Ludlow          10
Taylors         10
Euless          10
Saint Cloud     10
Name: cidade, Length: 1699, dtype: int64

## 6 - Com o dado anterior, responder a seguinte pergunta: por que será que essa é a cidade que possui mais relatos?

### A cidade que possui mais relatos é a cidade de Phonix no Arizona provavelmente devido a este estado ter clima predominantemente árido e semi-árido a visualização de objetos no céu é mais fácil, uma vez que há pouco formação de nuvens.

In [ ]:
selecao_phoenix = df_eua_10_cases['cidade'] == 'Phoenix'
df_eua_phoenix = df_eua_10_cases[selecao_phoenix].reset_index(drop=True)

In [ ]:
df_eua_phoenix['data'].str[-8:-6].value_counts(sort=True)

15    41
05    40
16    40
14    37
08    34
04    33
17    28
12    27
09    24
13    24
06    23
11    19
01    18
02    17
00    15
99    15
10    14
03    13
07    12
98     9
5      1
9      1
7      1
Name: data, dtype: int64

## 7 - Fazer uma query exclusiva para o estado com maior número de relatos, buscando cidades que possuam um número superior a 10 relatórios. Enfatizar a cidade, a quantidade de relatos e formato do objeto não identificado.

In [ ]:
df_eua_10_cases['estado'].value_counts(sort=True)

CA    7401
FL    3779
WA    3272
AZ    2433
TX    2307
      ...
PQ      23
SA      11
NF       1
PE       1
YT       1
Name: estado, Length: 64, dtype: int64

In [ ]:
selecao_top_estado = df_eua_10_cases['estado'] == 'WA'
df_eua_estado_maior_caso = df_eua_10_cases[selecao_top_estado].reset_index(drop=True)
df_eua_estado_maior_caso

      index  ...   postado
0        17  ...   1/28/99
1        31  ...   3/17/17
2        34  ...   7/28/10
3        43  ...   1/28/99
4        73  ...  12/12/11
...     ...  ...       ...
3267  81629  ...   8/24/17
3268  81693  ...   8/24/17
3269  81755  ...   8/17/17
3270  81824  ...   8/11/17
3271  81850  ...    8/4/17

[3272 rows x 8 columns]

In [ ]:
df_eua_estado_maior_caso['formato'].value_counts(sort=True)

Light        768
Circle       326
Fireball     294
Unknown      269
Triangle     267
Other        229
Sphere       228
Oval         133
Disk         115
Formation    107
Changing      79
Flash         63
Cylinder      53
Rectangle     51
Cigar         46
Chevron       44
Diamond       43
Egg           27
Teardrop      25
Cone          14
Cross          8
other          1
Name: formato, dtype: int64

In [ ]:
df_eua_estado_maior_caso['cidade'].value_counts(sort=True)

Seattle      461
Vancouver    150
Spokane      132
Tacoma       131
Everett      110
            ...
Midland        1
Deming         1
Fairfield      1
Union          1
Dayton         1
Name: cidade, Length: 140, dtype: int64

In [ ]:
df_eua_estado_maior_caso['duracao'].value_counts(sort=True).head(n=10)

5 minutes     190
10 minutes    136
2 minutes     129
3 minutes     123
1 minute      120
15 minutes     91
10 seconds     83
30 seconds     81
5 seconds      68
20 minutes     58
Name: duracao, dtype: int64