# **Sprint 2.4 - Acréscimo de Variáveis**

In [23]:
import pandas as pd
url = 'https://raw.githubusercontent.com/infocbra/pratica-integrada-cd-e-am-2021-1-g1-ghjp/master/2_sprint/df_OVNI_limpo.csv?token=AG2WN5KXFHC5FEEDB2AFRTTBC7RHE'
df = pd.read_csv(url,sep=',')

## 1 -Aspecto do dataframe resultado da atividade 2.3;

In [24]:
df.drop(df.columns[0], axis=1, inplace=True)
df.head()

            data         cidade estado   formato
0  9/30/97 22:00        Madison     WI     Light
1  9/28/97 23:15  San Francisco     CA  Triangle
2  9/27/97 23:00           Egan     SD     Other
3  9/27/97 05:00      Crestwood     KY      Disk
4  9/25/97 22:00     Clearfield     UT  Triangle

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78217 entries, 0 to 78216
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data     78217 non-null  object
 1   cidade   78217 non-null  object
 2   estado   78217 non-null  object
 3   formato  78217 non-null  object
dtypes: object(4)
memory usage: 2.4+ MB

## 2 - Dividir o conteúdo da coluna Date / Time em duas novas colunas no mesmo dataframe e deletar a coluna Date / Time ;

In [26]:
df1 = df


df1['visualizacao_data'] = pd.to_datetime(df['data']).dt.date
df1['visualizacao_horario'] = pd.to_datetime(df['data']).dt.time

In [27]:
df1.drop(df.columns[0], axis=1, inplace=True)
df1.head()

          cidade estado   formato visualizacao_data visualizacao_horario
0        Madison     WI     Light        1997-09-30             22:00:00
1  San Francisco     CA  Triangle        1997-09-28             23:15:00
2           Egan     SD     Other        1997-09-27             23:00:00
3      Crestwood     KY      Disk        1997-09-27             05:00:00
4     Clearfield     UT  Triangle        1997-09-25             22:00:00

## 3 - Fazer o mesmo procedimento para dias da semana. Será que existe um dia da semana com mais ocorrências de relatórios para OVNIs? Para descobrir isso, você deve criar uma nova coluna chamada weekdays.

In [28]:
import datetime
df2 = df1
df2['weekdays'] = pd.to_datetime(df2['visualizacao_data'], errors='coerce').dt.day_name()
df2

                 cidade estado  ... visualizacao_horario  weekdays
0               Madison     WI  ...             22:00:00   Tuesday
1         San Francisco     CA  ...             23:15:00    Sunday
2                  Egan     SD  ...             23:00:00  Saturday
3             Crestwood     KY  ...             05:00:00  Saturday
4            Clearfield     UT  ...             22:00:00  Thursday
...                 ...    ...  ...                  ...       ...
78212  Columbus (North)     GA  ...             06:15:00   Tuesday
78213          Corcoran     MN  ...             02:45:00   Tuesday
78214     Moreno Valley     CA  ...             02:00:00   Tuesday
78215         Bradenton     FL  ...             01:00:00   Tuesday
78216            Laurel     MD  ...             00:00:00   Tuesday

[78217 rows x 6 columns]

## 4 - Separar as variáveis mês (Month) e dia (Day). Desse modo, será possível refinar as pesquisas.;

In [29]:
df3 = df2
df3['visualizacao_dia'] = pd.to_datetime(df2['visualizacao_data']).dt.day
df3['visualizacao_mes'] = pd.to_datetime(df2['visualizacao_data']).dt.month
df3

                 cidade estado  ... visualizacao_dia visualizacao_mes
0               Madison     WI  ...               30                9
1         San Francisco     CA  ...               28                9
2                  Egan     SD  ...               27                9
3             Crestwood     KY  ...               27                9
4            Clearfield     UT  ...               25                9
...                 ...    ...  ...              ...              ...
78212  Columbus (North)     GA  ...                1                8
78213          Corcoran     MN  ...                1                8
78214     Moreno Valley     CA  ...                1                8
78215         Bradenton     FL  ...                1                8
78216            Laurel     MD  ...                1                8

[78217 rows x 8 columns]

## 5 - Por fim, salvar o dataframe resultante em um arquivo .csv com o nome: 'df_OVNI_preparado'.

In [33]:
from google.colab import drive
drive.mount('drive')
df3.to_csv('df_OVNI_preparado.csv')
!cp df_OVNI_preparado.csv "drive/My Drive/Colab Notebooks/projeto_integrado/"

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).