# **Sprint 2 - Exploração dos dados com SQL**

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/infocbra/pratica-integrada-cd-e-am-2021-1-g1-ghjp/master/1_sprint/ovinis_data.csv?token=AG2WN5KNZSJ3F2RYPKRQRL3BCLLMU'
df = pd.read_csv(url,sep=',')

## 1 - Carregar o seu arquivo OVNIS.csv em um dataframe;

In [ ]:
df.drop(df.columns[0], axis=1, inplace=True)
df.head()

            data  ...   postado
0  9/30/97 22:00  ...    3/2/04
1  9/30/97 20:00  ...  10/30/06
2  9/28/97 23:15  ...    7/5/99
3  9/27/97 23:00  ...   2/22/05
4  9/27/97 05:00  ...    8/5/01

[5 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100157 entries, 0 to 100156
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   data     100157 non-null  object
 1   cidade   99959 non-null   object
 2   estado   92931 non-null   object
 3   formato  98130 non-null   object
 4   duracao  97156 non-null   object
 5   resumo   100137 non-null  object
 6   postado  100157 non-null  object
dtypes: object(7)
memory usage: 5.3+ MB


## 2 - Remover registros que tenham valores vazios (None, Unknown, ...) para City, State e Shape;

In [26]:
filtro = ['none','None','Unknown','unknown','nan']

selecao = (df['cidade'].isnull()) | (df['cidade'].isin(filtro)) | (df['estado'].isnull()) | (df['estado'].isin(filtro)) | (df['formato'].isnull()) | (df['formato'].isin(filtro))

df1 = df[~selecao]

df1.dropna(how='all')

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84384 entries, 0 to 100156
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data     84384 non-null  object
 1   cidade   84384 non-null  object
 2   estado   84384 non-null  object
 3   formato  84384 non-null  object
 4   duracao  82372 non-null  object
 5   resumo   84376 non-null  object
 6   postado  84384 non-null  object
dtypes: object(7)
memory usage: 5.2+ MB

## 3 - Manter somente os registros referentes aos 51 estados dos Estados Unidos

In [ ]:
url2 = 'https://raw.githubusercontent.com/oliveirafhm/data_science/master/5_pipeline_dados/usa_states.csv'
usa_states = pd.read_csv(url2,sep=',')

filtro = usa_states['Abbreviation']
selecao = df1['estado'].isin(filtro)
df2 = df1[selecao].reset_index(drop=True)
df2

                data  ...  postado
0      9/30/97 22:00  ...   3/2/04
1      9/28/97 23:15  ...   7/5/99
2      9/27/97 23:00  ...  2/22/05
3      9/27/97 05:00  ...   8/5/01
4      9/25/97 22:00  ...  1/28/99
...              ...  ...      ...
80486   8/1/17 06:15  ...   8/4/17
80487   8/1/17 02:45  ...   8/4/17
80488   8/1/17 02:00  ...   8/4/17
80489   8/1/17 01:00  ...   5/9/19
80490         8/1/17  ...  6/25/20

[80491 rows x 7 columns]

## 4 - Remover variáveis irrelevantes para a análise (Duration, Summary e Posted);

In [ ]:
df3 = df2.drop(df2.columns[4:], axis=1)
df3

                data            cidade estado   formato
0      9/30/97 22:00           Madison     WI     Light
1      9/28/97 23:15     San Francisco     CA  Triangle
2      9/27/97 23:00              Egan     SD     Other
3      9/27/97 05:00         Crestwood     KY      Disk
4      9/25/97 22:00        Clearfield     UT  Triangle
...              ...               ...    ...       ...
80486   8/1/17 06:15  Columbus (North)     GA  Fireball
80487   8/1/17 02:45          Corcoran     MN     Light
80488   8/1/17 02:00     Moreno Valley     CA     Other
80489   8/1/17 01:00         Bradenton     FL     Other
80490         8/1/17            Laurel     MD     Other

[80491 rows x 4 columns]

## 5 - Manter somente os registros de Shapes mais populares (com mais de 1000 ocorrências);

In [ ]:
#df3['formato'].value_counts(sort=True) >= 1000

selecao = df3['formato'].value_counts(sort=True) >= 1000
selecao = selecao[selecao].index
df4 = df3[df3['formato'].isin(selecao)].reset_index()
df4

       index           data            cidade estado   formato
0          0  9/30/97 22:00           Madison     WI     Light
1          1  9/28/97 23:15     San Francisco     CA  Triangle
2          2  9/27/97 23:00              Egan     SD     Other
3          3  9/27/97 05:00         Crestwood     KY      Disk
4          4  9/25/97 22:00        Clearfield     UT  Triangle
...      ...            ...               ...    ...       ...
78212  80486   8/1/17 06:15  Columbus (North)     GA  Fireball
78213  80487   8/1/17 02:45          Corcoran     MN     Light
78214  80488   8/1/17 02:00     Moreno Valley     CA     Other
78215  80489   8/1/17 01:00         Bradenton     FL     Other
78216  80490         8/1/17            Laurel     MD     Other

[78217 rows x 5 columns]

In [ ]:
df5 = df4.drop(df4.columns[0], axis=1)
df5

                data            cidade estado   formato
0      9/30/97 22:00           Madison     WI     Light
1      9/28/97 23:15     San Francisco     CA  Triangle
2      9/27/97 23:00              Egan     SD     Other
3      9/27/97 05:00         Crestwood     KY      Disk
4      9/25/97 22:00        Clearfield     UT  Triangle
...              ...               ...    ...       ...
78212   8/1/17 06:15  Columbus (North)     GA  Fireball
78213   8/1/17 02:45          Corcoran     MN     Light
78214   8/1/17 02:00     Moreno Valley     CA     Other
78215   8/1/17 01:00         Bradenton     FL     Other
78216         8/1/17            Laurel     MD     Other

[78217 rows x 4 columns]

## 6 - Salvar o dataframe final em um arquivo CSV com o nome "df_OVNI_limpo".

In [ ]:
from google.colab import drive
drive.mount('drive')
df5.to_csv('df_OVNI_limpo.csv')
!cp df_OVNI_limpo.csv "drive/My Drive/"
#df4.to_csv('df_OVNI_limpo.csv', sep = ',', index = False)

Mounted at drive